<header class="page-header">
	<div class="header-top">
		<div class="up-right-conner">
			<a class="header-link" href="{{ site.url | append:'/' | append:'tags'  }}">TAGS</a>
		</div>
		<div class="clear-div"></div>
	</div>
    <h1 class="project-name"> <a class="header-link" href="{{ site.url }}/"> {{ site.title }}</a></h1>
    <h4 style="font-weight: lighter;">1994</h4>
    <h4 style="font-weight: lighter;">武汉大学</h4>
    <div class="header-platform-link">
    	<a href="https://github.com/Yesphet" target="_blank" class="icon-header-github header-link"></a>
    	<a href="http://weibo.com/u/2915783171" target="_blank" class="icon-header-sina header-link"></a>
        <a class="icon-header-mail header-link" href="Mailto:{{ site.email }}" target="_blank"></a>
    </div>
</header>
