<!DOCTYPE html>
<html lang="en">

    {% include head.html %}

    <body>

        {% include header.html %}

        <div class="main-content-container">
            <section class="main-content">
                <div class="wrapper">
                    {{ content }}
                </div>
            </section>
            <!-- post中的侧边导航 -->
            <div class="side-catalog">
                <ul class="catalog-body">
                </ul>
            </div>
        </div>

        {% include footer.html %}

    </body>

    {% include scripts.html %}

</html>
